#speechbubble {
  display: flex;
  background-color: white;
  width: 500px;
  height: 300px;
  text-align: center;
}

#speechbubbleContainer {
  display: flex;
  justify-content: center;
}

#discordInv {
  width: 32px;
  height: 32px;
}
